# Ignore everything by default
*
*/

# Explicitly track these when uncommenting:
# !test.sh
# !testAAB.sh
!scripts/
!scripts/test/
!scripts/test/android/
!scripts/test/android/io.horizontalsystems.bankwallet.sh
!scripts/test/android/io.horizontalsystems.bankwallet.dockerfile
# !scripts/test/desktop/
# !scripts/test/desktop/*.sh
# !scripts/test/desktop/*.dockerfile
# !scripts/test/hardware/
# !scripts/test/hardware/*.sh
# !scripts/test/hardware/*.dockerfile

# Always ignore
.git/
*.tar.gz
node_modules/
*.jar
.claude/
claude/
gitingest-*.txt
*.txt
archive/
ass/
prototype-app-specific/

!.gitignore
